html{
    box-sizing: border-box;
    font-size: 100%;
}

*, *::after, *::before{
    box-sizing: inherit;
}

body{
    margin: 0;
    padding: 0;
    line-height: 1.3;
    font-size: 15px;
    color: white;
    font-family: 'Open Sans', sans-serif;
    background: $Violet;
    background-image: url(/images/bg-desktop.svg);
    .hide-for-mobile{
        @include breakpoint-down(small){
            display: none;
        }
    }
    .hide-for-desktop{
        @include breakpoint-up(large){
            display: none;
        }
    }
}

.flex{
    display: flex;
    &-jc-c{
        justify-content: center;
    }
    &-ai-c{
        align-items: center;
    }
    &-jc-sb{
        justify-content: space-between;
    }
}

.header-container-desktop{
    margin: 80px 0px 45px 260px;
}

.section-container-desktop{
    margin-left: 260px;
    .container-box{
        .box1{
            margin-top: 20px;
            margin-bottom: 20px;
        }
        .box2{
            margin: 40px 20px 20px 50px;
            h1{
                font-size: 31px;
                font-weight: 600;
                font-family: 'Poppins', sans-serif;
                line-height: 35px;
                margin-bottom: -2px;
            }
            p{
                font-size: 14px;
                font-weight: 400;
            }
            .sign {
                background-color: white;
                color: $Violet;
                padding: 12px 10px;
                border-radius: 25px;
                box-shadow: 1px 1px 5px 0px rgb(32, 31, 31);
                margin: 2px 0;
                font-weight: 600;
                border: none;
                cursor: pointer;
                width: 150px;
                font-family: 'Poppins', sans-serif;
              }
            button:hover{
                background-color: $Soft-Magenta;
                color: white;
                font-weight: 400;
            }
        }
    }
}

.underbox-desktop{
    display: flex;
    justify-content: end;
    margin-right: 100px;
    word-spacing: 5px;
    a:hover{
        color: $Soft-Magenta;
        border-color: $Soft-Magenta;
    }
}

.fa {
    padding: 12px;
    font-size: 15px;
    width: 30;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    border-color: white;
    border: 1px solid white;
  }
  .fa-facebook {
    background: $Violet;
    color: white;
    padding: 10px 13px 10px 13px;
    font-size: 18px;
  }
  .fa-twitter {
    background: $Violet;
    color: white;
    font-size: 20px;
    padding: 9px;
  }
  
  .fa-instagram {
    background: $Violet;
    color: white;
    font-size: 20px;
    padding: 9px;
  }
  



.header-container-mobile{
    margin: 30px 0px 50px 0px;
}

.section-container-mobile{
    // margin-left: 50px;
    .container-box-mobile{
        display: block;
        justify-content: center;
        .box1-mobile{
            margin-top: 20px;
            margin-bottom: 20px;
        }
        .box2-mobile{
            // margin: 40px 20px 20px 5px;
            width: 370px;
            h1{
                margin-left: 20px;
                font-size: 25px;
                font-weight: 600;
                font-family: 'Poppins', sans-serif;
                line-height: 35px;
                margin-bottom: -2px;
            }
            p{
                // margin-left: 20px;
                font-size: 16px;
                font-weight: 400;
            }
            .sign {
                background-color: white;
                color: $Violet;
                padding: 9px 10px;
                border-radius: 25px;
                box-shadow: 1px 1px 5px 0px rgb(32, 31, 31);
                margin: 10px 50px;
                font-weight: 600;
                border: none;
                cursor: pointer;
                width: 200px;
                // display: flex;
                // align-items: center;
                font-family: 'Poppins', sans-serif;
              }
            button:hover{
                background-color: $Soft-Magenta;
                color: white;
                font-weight: 400;
            }
        }
    }
}

.underbox-mobile{
    display: flex;
    justify-content: center;
    margin-right: 80px;
    word-spacing: 5px;
    a:hover{
        color: $Soft-Magenta;
        border-color: $Soft-Magenta;
    }
}

.fa {
    margin-top: 70px;
    padding: 10px;
    font-size: 5px;
    width: 40px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    border-color: white;
    border: 1px solid white;
  }
  .fa-facebook {
    background: $Violet;
    color: white;
    padding: 10px 13px 10px 13px;
    font-size: 18px;
  }
  .fa-twitter {
    background: $Violet;
    color: white;
    font-size: 20px;
    padding: 9px;
  }
  
  .fa-instagram {
    background: $Violet;
    color: white;
    font-size: 20px;
    padding: 9px;
  }
  